nav {
    width: 100%;
    top: 0;
    height: 100px;
    background-color: gray;
   
  }
  nav img {
    float: left;
    margin-top: 16px;
    margin-left: 196px;
    margin-right: 30px;

      

    
  }
  nav ul li{
    display: inline-block;
    padding: 0px;
    margin-top: 40px;
    margin-right: 90px;
    
  }
 body div img {
  margin-left: 196px;
  margin-top: 45px;
  margin-bottom: 45px;


 }

 main span{
  display: block;
text-align: center;
 }

 main span img{
   margin-top: 45px;
   margin: 0 13px;
   margin-bottom: 45px;
 }
 main section {
   margin-left: 196px;
 }
 main section img {
  float: left;
     margin-right: 30px;
     margin-bottom: 50px;



 }
 main p {
   overflow: scroll;
   height: 300px;
   width: 460px;
 }
 button{
   background-color: black;
   color: white;
 } 
 
 footer{
  width: 100%;
  bottom: 0;
  height: 100px;
  background-color: gray;
  clear: both;

 }